## **Data Merge**

In [2]:
import pandas as pd 

# Example datasets for data merging
# Dataset 1: Pakistani individual 
data1 = {
    'id': [1, 2, 3],
    'name': ['Ahmed', 'Fatima', 'Ali'],
    'age': [28, 32, 24]
    
}
df1 = pd.DataFrame(data1)
df1.head()

   id    name  age
0   1   Ahmed   28
1   2  Fatima   32
2   3     Ali   24

In [9]:
# Dataset 2: Additional information
data2 = {
    'id': [1, 2, 3],
    'city': ['karachi', 'Lahore', 'Islamabad'],
    'occupation': ['Engineer', 'Doctor', 'Teacher']
}
df2 = pd.DataFrame(data2)
df2.head()

   id       city occupation
0   1    karachi   Engineer
1   2     Lahore     Doctor
2   3  Islamabad    Teacher

In [10]:
# Merging DataFrame on 'id'
merged_df = pd.merge(df1, df2, on='id', how='inner')
merged_df.head()

   id    name  age       city occupation
0   1   Ahmed   28    karachi   Engineer
1   2  Fatima   32     Lahore     Doctor
2   3     Ali   24  Islamabad    Teacher

In [11]:
# Step 1: Import the required library
import pandas as pd

# Step 2: Create imaginary datasets
# Dataset 1
data1 = pd.DataFrame({
    'id': [0, 1, 2, 3],
    'city': ['CityA', 'CityB', 'CityC', 'CityD'],
    'occupation': ['Doctor', 'Engineer', 'Teacher', 'Artist']
})

# Dataset 2
data2 = pd.DataFrame({
    'id': [0, 1, 2, 3],
    'name': ['John', 'Alice', 'Bob', 'Eve'],
    'age': [30, 25, 35, 28]
})

# Dataset 3
data3 = pd.DataFrame({
    'id': [0, 1, 2, 3],
    'city': ['CityA', 'CityB', 'CityC', 'CityD'],
    'province': ['ProvinceX', 'ProvinceY', 'ProvinceZ', 'ProvinceW']
})

# Step 3: Concatenate the datasets
# Concatenate along columns (axis=1) using the 'id' column as the key
result = pd.concat([data1.set_index('id'), data2.set_index('id'), data3.set_index('id')], axis=1, join='outer')

# Reset the index to make 'id' a column again
result = result.reset_index()

# Step 4: Print the concatenated dataset
print(result)

   id   city occupation   name  age   city   province
0   0  CityA     Doctor   John   30  CityA  ProvinceX
1   1  CityB   Engineer  Alice   25  CityB  ProvinceY
2   2  CityC    Teacher    Bob   35  CityC  ProvinceZ
3   3  CityD     Artist    Eve   28  CityD  ProvinceW

--------
# **Concatenation**

In [20]:
import pandas as pd 
# Example datasets for pakistani context 
# Dataset 1 - Pakistani Names and Ages 
data1 = {'Name':['Sara','Usman','Aisha'], 'Age':[29,35,27] }
# Dataset2 - More Pakistani Names and Ages
data2 = {'Name':['Ahmed','Fatima','Ali'], 'Age':[29,35,27]}
# Dataset 3 - Cities and provinces in Pakistan 
data3 = {'City': ['Karachi', 'Lahore', 'Islamabd'], 'Province':['Sindh', 'Punjab', 'Federal']}

df1= pd.DataFrame(data1)
df2= pd.DataFrame(data2)
df3=pd.DataFrame(data3)

# Contacatenating Rows
concatenated_rows = pd.concat([df1,df2])

# Concatenating Columns
# Note: For a meaningful column-wise concatenation, dataframes should have 
concatenated_columns = pd.concat([df1, df3], axis=1)
print(concatenated_rows)
print("-----------------------------------")

print(concatenated_columns)

     Name  Age
0    Sara   29
1   Usman   35
2   Aisha   27
0   Ahmed   29
1  Fatima   35
2     Ali   27
-----------------------------------
    Name  Age      City Province
0   Sara   29   Karachi    Sindh
1  Usman   35    Lahore   Punjab
2  Aisha   27  Islamabd  Federal