In [ ]:
print("Hello world")

Hello world

# **Arithmatic Operation**

In [ ]:
a = 4
b =5

sum = a+b
print(sum)

9

In [5]:
a = 10
b = 5

subtraction = a-b
print(subtraction)

5

In [6]:
# Multiplication

a = 10
b = 5

Multiply = a*b
print(Multiply)

50

In [7]:
a = 10
b = 5

division = a*b
print(division)

50

In [ ]:
# user input

num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

print(num1+num2)

# **Strings in python**

In [ ]:
a = "Hello"
print(a)

In [ ]:
a = """AL, or artificial intelligence refer to the development and implementation of computer system"""
print(a)

In [ ]:
var = "Hello world"
print(var.upper())

In [ ]:
var1 = "HELLO MY NAME IS HASEEB ULLAH AND NOW I AM CURRENTLY LEARNING AI COURSE WITH IRFAN MALIK"
print(var1.lower())

*Remove Whitespace*

whitespace is the space before and/or after the actual text, and very often you want to remove this space. The strip() method removes any whitespace from the beggining or the end

In [ ]:
a = "Hello, world"
print(a.strip())

# **str.replace() method**

###  **method to replace all spaces with an empty string, removes space from beggining, middle and at the last**

In [ ]:
# the following part is used when you want to replace any character and after how many characters
word = " hello     world"
new_word = word.replace(" ","",5)
print(new_word)

In [ ]:
# word = "Hello world"
print(a.replace("e", "a"))
print(a.replace("w","W"))
print(a.replace("ello","aseeb"))

# **Split String**

In [ ]:


a = "Hello, world!"
print(a.split(","))  #returns  ['Hello', 'world']

text = "Hello World"
print(text.split())

# **Tasks**

In [ ]:

# a) Convert the input_string to uppercase using the "upper()" function and store the result in a variable called 'capitalized_text'.

word = "Hello world"
capitailized_text= word.upper()
print(capitailized_text)


# b) convert the  to lowercase using the "lower() function and store the result in a variable called "lowercase_txt".
word_2 = "HELLO WORLD"
lowercase_text= word_2.lower()
print(lowercase_text)

# c) Remove the white spaces from the input_string using the "strip()" function and store the result in a variable called "White_space"

word_3 = " Hello world"
White_space = word_3.strip()
print(White_space)


# d) split the input_string into a list of words using the "split()" function and store the result in a variable called "word_list"
word_4 = "Hello world i am Haseeb Ullah Kehar"
word_list = word_4.split()
print(word_list)


# e)Replace the word 'positive' with the word 'remarkable' in the input_string using the "replace() function and store the result in the replaced_text "
word_5 = "positive"
replaced_text= word_5.replace("positive", "remarkable")
print("The word positive is replaced by ",replaced_text)

# **List In Python**

Lists are created using square brackets

In [ ]:
thisList= ["apple", "Banana", "Mango"]
print(thisList)

In [ ]:
# List Items
# list items are ordered, changeable, and allow duplicate values.List items are indexed , the first tems has index[0], the second item has index[1]

thisList= ['Apple', 'banana', 'charry', 'apple', 'charry']
thisList.append("Orange")
print(thisList)

# **Tuple In Python**

In [ ]:
import collections
# Tuple
# Tuples are used to store multiple items in a single variable. A tuple is a collection
# which is ordered and unchangeable.Tuples are written with round brackets.

thistuple= ("apple", "banana", "cherry")
print(thistuple)


#Tuples are unchangeable , let's see

thistuple[0] = "Orange"
print(thistuple)

# # Hence proved that items of tuple can not be changed

In [ ]:
# # One item tuple, remember the comma:
thistuple =("apple",)
print(type(thistuple))

# #NOT a tuple (it acts as string)
thistuple =("apple")
print(type(thistuple))

# **Sets In Python**

In [ ]:
# Python Sets

# sets are used to store multiple items in a single variable . A set is a collection which is unordered , unchangeable, and unindexed
# * NOTE * Items are unchangeable, but you can remove items and add new items
#Duplicates elements are not allowed

thisset = {"apple", "banana"," cherry"}

print(thiset)

# Let's see if set elements are unchangeable

thisset[0] = "Orange"
print(thisset)

# Let's see if set allows duplicates

thisset= {"apple", "banana", "apple"}
print(thisset)

# Element removed

print(len(thisset))
print(type(thisset))

# Hence proved Set elements are unchangeable , and duplicated restricted

# **Python dictionaries**

In [ ]:

# # Disctioneries are used to store data values in key-value pairs.
# # A dictionary is a collection which is ordered , changeable and do not allow duplicates

# #Create and print a dictionary
# thedict= {
#     "brand": "ford",
#     "model": "Mustang",
#     "year" : 1990

# }
# print(thedict)

# The_Personal_Dictionary={
#     "Name": "HaseebUllah",
#     "Roll_no": "21sw090",
#     "Department":"Sofware Engineering",
#     "University":"Muet",
#     "Grad_year": 2025,
#     # "Add_year": 2025   # Not allowed
# }

# **IF & ELIF Statement**

In [ ]:

# a = 56
# b = 56

# if b > a:
#   print("a is greater than b")
# elif b == a:
#  print(" a is equal to b ")

# else:
#   print("b is greater than a")

# **Python Mini-Project**
### Simple calculator using ILIF statement in python

In [ ]:


# Display the menu
print("Calculator Menu : ")
print("1. Addition ")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")
print("5. Modulus")

#input User choice
choice = input("Enter the operation (1/2/3/4/5): ")

# conver user choice into integer

choice = int(choice)

# Check the users choice and perform the operation

if choice ==1:
  num1= float(input("Enter first number :"))
  num2 = float(input("Enter second number :"))

  result = num1 + num2

  print("Result", result)
elif choice == 2:
  num1 = float (input("Enter the first number :"))
  num2 = float(input("Enter the second number :"))

  result = num1 - num2
  print("Result", result)

elif choice == 3:
  num1 = float(input("Enter the first number :"))
  num2 = float(input("Enter the second number :"))

  result = num1 * num2
  print("Result", float( result))

elif choice == 4:
  num1 = float(input("Enter the first number :"))
  num2 = float(input("Enter the second non-zero number :"))

  if num2==0:
    print("This operation is not allowed ! ")

elif num != 0 :
      result = num1/num2

else:
    print("Invalid Choice, please select a valid operation (1/2/3/4)")

Calculator Menu :
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Modulus
Enter the operation (1/2/3/4/5): 1
Enter first number :12
Enter second number :23
Result 35.0

# **LOOPS_IN_PYTHON**

In [ ]:

"""
For Loop:
    The for loop in Python is used to iterate over a sequence, which
could be a list, tuple, array, or string.

Examples:
"""
list = [1,2,3,4,5,6,7,8,9]

for var_b in list:
    print(var_b)
    print(var_b)
# it will print every number two times.

list1 = [1,2,3,4,5]
for var_a in list1:
    print(f'The value is: {var_a}')
# Using statement in loops, which will be printed everytime the loop iterates.


# Using For Loop for range:
for i in range(11):
    print(i)
# It will print eleven numbers starting from 0 to 10.


# Creating String List
namesList = ['Azhar','Shahid','Haseeb','Arayan','Fahad','Jawad','Qurban']
for name in namesList:
    print(name)
# All names will be printed.

# **For Loop Applications**

In [8]:

# 1. Sum of elements
numbers = [6,5,3,8,4,2,5,4,11]

sum = 0
for i in numbers:
    sum = sum+i
print(f'Sum of numbers in List is: {sum}')

# using range() method
sumofnumbers = 0
for j in range(17,15285,17):
    sumofnumbers = sumofnumbers+j
print(f'Sum of numbers in range is: {sumofnumbers}')

print("*"*30)

# Nested For Loop
adj = ['red','big','tasty']
fruits = ['apple','banana','cherry']

for i in adj:
    for j in fruits:
        print(i,j)

print("*"*30)

# Using For Loop with else
for i in range(10):
    print(i)
else:
    print("List finished")

print("*"*30)

# Using zip() method to print lists together
adj1 = ['red','big','tasty']
fruit = ['apple','banana','cherry']

for x,y in zip(fruit,adj1):
    print(x,y)

print("*"*30)


# Accessing Dictionary elements by For Loop
dic = {'name':'Haseeb','age':20}
for key,value in dic.items():
    print(key,value)

Sum of numbers in List is: 48
Sum of numbers in range is: 6877350
******************************
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry
******************************
0
1
2
3
4
5
6
7
8
9
List finished
******************************
apple red
banana big
cherry tasty
******************************
name Haseeb
age 20